/POO836205ObjectsAndClases/nbproject/private/
/assignments/POO836203ObjectsAndClases/nbproject/private/
/workshops/POO836205ObjectsAndClases/build/
/assignments/POO836206CarFile/nbproject/private/
/assignments/POO836206CarFile/build/
/assignments/POO836208CarFile/nbproject/private/
/assignments/POO836201CarFile/nbproject/private/
/assignments/POO836201CarFile/build/
/assignments/POO836201CarFile/dist/
/workshops/POO836205ObjectsAndClases/dist/
/assignments/POO836204TemperatureConverter/nbproject/private/
/assignments/POO836204TemperatureConverter/build/
/workshops/POO836212ConstructorAndArray/POO836212ConstructorAndArray/nbproject/private/